<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>setCharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>setCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>Treer.servlet.ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Treer.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>Treer.servlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Treer.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>Treer.servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>Treer.servlet.homeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoriesServlet</servlet-name>
        <servlet-class>Treer.servlet.categoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productDetailServlet</servlet-name>
        <servlet-class>Treer.servlet.productDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogServlet</servlet-name>
        <servlet-class>Treer.servlet.blogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Treer.servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>backToAdminIndexServlet</servlet-name>
        <servlet-class>Treer.servlet.backToAdminIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatusPlantServlet</servlet-name>
        <servlet-class>Treer.servlet.changeStatusPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plantsManagerServlet</servlet-name>
        <servlet-class>Treer.servlet.plantsManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAccountServlet</servlet-name>
        <servlet-class>Treer.servlet.searchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <servlet-class>Treer.servlet.updateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReloadActionPageServlet</servlet-name>
        <servlet-class>Treer.servlet.ReloadActionPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setAuctionDetailServlet</servlet-name>
        <servlet-class>Treer.servlet.setAuctionDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountDownServlet</servlet-name>
        <servlet-class>Treer.servlet.CountDownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePlantNameServlet</servlet-name>
        <servlet-class>Treer.servlet.changePlantNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auctionManagerServlet</servlet-name>
        <servlet-class>Treer.servlet.auctionManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeAuctionStatusServlet</servlet-name>
        <servlet-class>Treer.servlet.changeAuctionStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmCreateNewAccountServlet</servlet-name>
        <servlet-class>Treer.servlet.confirmCreateNewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerAdminPageServlet</servlet-name>
        <servlet-class>Treer.servlet.registerAdminPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrdersServlet</servlet-name>
        <servlet-class>Treer.servlet.cancelOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createCommentServlet</servlet-name>
        <servlet-class>Treer.servlet.createCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileServlet</servlet-name>
        <servlet-class>Treer.servlet.editProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerOrderServlet</servlet-name>
        <servlet-class>Treer.servlet.managerOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetailServlet</servlet-name>
        <servlet-class>Treer.servlet.orderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>personalPageServlet</servlet-name>
        <servlet-class>Treer.servlet.personalPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>personalWishListServlet</servlet-name>
        <servlet-class>Treer.servlet.personalWishListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>Treer.servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repCommentServlet</servlet-name>
        <servlet-class>Treer.servlet.repCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>switchPageServlet</servlet-name>
        <servlet-class>Treer.servlet.switchPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileServlet</servlet-name>
        <servlet-class>Treer.servlet.updateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wishlistpersonalServlet</servlet-name>
        <servlet-class>Treer.servlet.wishlistpersonalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wishlistServlet</servlet-name>
        <servlet-class>Treer.servlet.wishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePlantPriceServlet</servlet-name>
        <servlet-class>Treer.servlet.changePlantPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePlantDescriptionServlet</servlet-name>
        <servlet-class>Treer.servlet.changePlantDescriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Treer.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutUsServlet</servlet-name>
        <servlet-class>Treer.servlet.AboutUsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginMuaHangServlet</servlet-name>
        <servlet-class>Treer.servlet.CheckLoginMuaHangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductServlet</servlet-name>
        <servlet-class>Treer.servlet.deleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <servlet-class>Treer.servlet.saveShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartServlet</servlet-name>
        <servlet-class>Treer.servlet.updateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmCreateNewAuctionServlet</servlet-name>
        <servlet-class>Treer.servlet.confirmCreateNewAuctionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createNewAuctionServlet</servlet-name>
        <servlet-class>Treer.servlet.createNewAuctionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auctionPlantManagerServlet</servlet-name>
        <servlet-class>Treer.servlet.auctionPlantManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allAuctionShowServlet</servlet-name>
        <servlet-class>Treer.servlet.allAuctionShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processingAuctionShowServlet</servlet-name>
        <servlet-class>Treer.servlet.processingAuctionShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>endAuctionShowServlet</servlet-name>
        <servlet-class>Treer.servlet.endAuctionShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>joinedAuctionShowServlet</servlet-name>
        <servlet-class>Treer.servlet.joinedAuctionShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chooseAuctionPlantServlet</servlet-name>
        <servlet-class>Treer.servlet.chooseAuctionPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>idAuctionPlantChoosenServlet</servlet-name>
        <servlet-class>Treer.servlet.idAuctionPlantChoosenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePlantStockServlet</servlet-name>
        <servlet-class>Treer.servlet.changePlantStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePlantImgServlet</servlet-name>
        <servlet-class>Treer.servlet.changePlantImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePlantSaleServlet</servlet-name>
        <servlet-class>Treer.servlet.changePlantSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewPlantAuctionServlet</servlet-name>
        <servlet-class>Treer.servlet.addNewPlantAuctionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailsPlantAdminServlet</servlet-name>
        <servlet-class>Treer.servlet.ViewDetailsPlantAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAuctionDetailServlet</servlet-name>
        <servlet-class>Treer.servlet.ViewAuctionDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterAuctionAdminServlet</servlet-name>
        <servlet-class>Treer.servlet.filterAuctionAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plantsAuctionManagerServlet</servlet-name>
        <servlet-class>Treer.servlet.plantsAuctionManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>completedOrdersServlet</servlet-name>
        <servlet-class>Treer.servlet.completedOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterOrderAdminServlet</servlet-name>
        <servlet-class>Treer.servlet.filterOrderAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ordersManagerServlet</servlet-name>
        <servlet-class>Treer.servlet.ordersManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>personalAuctionPageServlet</servlet-name>
        <servlet-class>Treer.servlet.personalAuctionPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterAuctionPersonalServlet</servlet-name>
        <servlet-class>Treer.servlet.filterAuctionPersonalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePlantCategoriesServlet</servlet-name>
        <servlet-class>Treer.servlet.changePlantCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>responseServlet</servlet-name>
        <servlet-class>Treer.servlet.responseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/ShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/homeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoriesServlet</servlet-name>
        <url-pattern>/categoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productDetailServlet</servlet-name>
        <url-pattern>/productDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogServlet</servlet-name>
        <url-pattern>/blogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>backToAdminIndexServlet</servlet-name>
        <url-pattern>/backToAdminIndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatusPlantServlet</servlet-name>
        <url-pattern>/changeStatusPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plantsManagerServlet</servlet-name>
        <url-pattern>/plantsManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAccountServlet</servlet-name>
        <url-pattern>/searchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <url-pattern>/updateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReloadActionPageServlet</servlet-name>
        <url-pattern>/ReloadActionPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setAuctionDetailServlet</servlet-name>
        <url-pattern>/setAuctionDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountDownServlet</servlet-name>
        <url-pattern>/CountDownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePlantNameServlet</servlet-name>
        <url-pattern>/changePlantNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auctionManagerServlet</servlet-name>
        <url-pattern>/auctionManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeAuctionStatusServlet</servlet-name>
        <url-pattern>/changeAuctionStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmCreateNewAccountServlet</servlet-name>
        <url-pattern>/confirmCreateNewAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerAdminPageServlet</servlet-name>
        <url-pattern>/registerAdminPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrdersServlet</servlet-name>
        <url-pattern>/cancelOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createCommentServlet</servlet-name>
        <url-pattern>/createCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileServlet</servlet-name>
        <url-pattern>/editProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerOrderServlet</servlet-name>
        <url-pattern>/managerOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetailServlet</servlet-name>
        <url-pattern>/orderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personalPageServlet</servlet-name>
        <url-pattern>/personalPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personalWishListServlet</servlet-name>
        <url-pattern>/personalWishListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repCommentServlet</servlet-name>
        <url-pattern>/repCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>switchPageServlet</servlet-name>
        <url-pattern>/switchPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileServlet</servlet-name>
        <url-pattern>/updateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wishlistpersonalServlet</servlet-name>
        <url-pattern>/wishlistpersonalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wishlistServlet</servlet-name>
        <url-pattern>/wishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePlantPriceServlet</servlet-name>
        <url-pattern>/changePlantPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePlantDescriptionServlet</servlet-name>
        <url-pattern>/changePlantDescriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUsServlet</servlet-name>
        <url-pattern>/AboutUsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginMuaHangServlet</servlet-name>
        <url-pattern>/CheckLoginMuaHangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductServlet</servlet-name>
        <url-pattern>/deleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <url-pattern>/saveShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartServlet</servlet-name>
        <url-pattern>/updateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmCreateNewAuctionServlet</servlet-name>
        <url-pattern>/confirmCreateNewAuctionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createNewAuctionServlet</servlet-name>
        <url-pattern>/createNewAuctionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auctionPlantManagerServlet</servlet-name>
        <url-pattern>/auctionPlantManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allAuctionShowServlet</servlet-name>
        <url-pattern>/allAuctionShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processingAuctionShowServlet</servlet-name>
        <url-pattern>/processingAuctionShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>endAuctionShowServlet</servlet-name>
        <url-pattern>/endAuctionShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>joinedAuctionShowServlet</servlet-name>
        <url-pattern>/joinedAuctionShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chooseAuctionPlantServlet</servlet-name>
        <url-pattern>/chooseAuctionPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>idAuctionPlantChoosenServlet</servlet-name>
        <url-pattern>/idAuctionPlantChoosenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePlantStockServlet</servlet-name>
        <url-pattern>/changePlantStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePlantImgServlet</servlet-name>
        <url-pattern>/changePlantImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePlantSaleServlet</servlet-name>
        <url-pattern>/changePlantSaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewPlantAuctionServlet</servlet-name>
        <url-pattern>/addNewPlantAuctionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailsPlantAdminServlet</servlet-name>
        <url-pattern>/ViewDetailsPlantAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAuctionDetailServlet</servlet-name>
        <url-pattern>/ViewAuctionDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterAuctionAdminServlet</servlet-name>
        <url-pattern>/filterAuctionAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plantsAuctionManagerServlet</servlet-name>
        <url-pattern>/plantsAuctionManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>completedOrdersServlet</servlet-name>
        <url-pattern>/completedOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterOrderAdminServlet</servlet-name>
        <url-pattern>/filterOrderAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ordersManagerServlet</servlet-name>
        <url-pattern>/ordersManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personalAuctionPageServlet</servlet-name>
        <url-pattern>/personalAuctionPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterAuctionPersonalServlet</servlet-name>
        <url-pattern>/filterAuctionPersonalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePlantCategoriesServlet</servlet-name>
        <url-pattern>/changePlantCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>responseServlet</servlet-name>
        <url-pattern>/responseServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
