/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 9, 2023, 12:36:38 PM
    Author     : Triệu
*/
.auction-tag {
    margin-top: 20px;
}
.product-details-name {
    color: #00B677;
}
.bid-infomation {
    padding-bottom: 15px;
}
.bid-information-users {
    color: blue;
    opacity: 50%;
}
.reloadAuctionPage{
    background-color: #0D6EFD;
    position: fixed;
    display: block;
    bottom:70px;
    right: 30px;
}
.auction-section {
    margin-top: 20px;
}
.auction-show {
    padding-left: 10px;
    padding-right: 10px;
}
.auction-plant-info {
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%; /* Thiết lập chiều cao của div */
    align-items: center;
}
.auction-plant-player {
}
.auction-plant-player-control {
    margin-left: 30px;
}
.Addtocart-this-plant-auction {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}
.winner {
    font-size: 130%;
}
.winner-name {
    color: red;
    font-weight: 600;
}
.auction-end {
    font-weight: 500;
    font-size: 140%;
    color: orangered;
    text-transform: uppercase;
}
.submit-bid-price {
    padding-left: 10px;
    padding-right: 10px;
}
.btn {
    margin-top: auto;
}
button.nav-link {
    background-color: lightgray !important; /* Background color of nav link */
    color: black !important; /* Color of nav link */
}
button.nav-link.active {
    background-color: #00B677 !important; /* Background color of active nav link */
    color: white !important; /* Color of active nav link */
}
.nav-pills .nav-item {
    padding-left: 0px;
}
.nav-pills .nav-link {
    background-color: #00B677;
    color: white;
    margin-right: 10px; /* Set right margin */
    padding: 7px 15px; /* Set button padding */
    font-size: 18px; /* Set font size */
    border-radius: 5px; /* Set border radius */
    margin-bottom: 20px;
}
.card-body {
    display: flex;
    flex-direction: column; /* Xếp các phần tử con theo hướng dọc */
    justify-content: space-between; /* Căn giữa các phần tử con và phân bố đều khoảng trống giữa chúng */
    height: 100%; /* Thiết lập chiều cao của div */
}
.footer-space {
    margin-bottom: 50px;
}